body {
  margin: 0;
  padding: 0;
  background-color: #444;
}
.chord {
  display: block;
  margin: 0;
  padding: 0;
}
.table {
  border-collapse:collapse!important
}
.table td,
.table th {
  background-color:#fff!important
}
.table-bordered td,
.table-bordered th {
  border:1px solid #ccc!important
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #eee;
  padding: 5px;
}
.table > thead > tr > th {
  border-bottom: 2px solid #eee;
}
.table tr td .progress {
  margin-top: 5px;
}
.table-bordered {
  border: 1px solid #eee;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #eee;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

.lattice:hover {
  cursor: pointer;
}
.hidden {
  display: none;
}